#titulo-id {
    color: purple;
}

.cor-amarela {
    color: yellow;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: tomato;
    font-size: 36px;
}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    line-height: 36px;
}

h2 {
    color: blue;
}

.fundo-verde {
    background: #0f0;
}

.fonte-grande {
    font-size: 60px;
}

#titulo-principal {
    background: black;
    color: white;
}

/*especificidade*/